<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
            integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
            crossorigin="anonymous"
    />
    
    <link rel="stylesheet" href="/chat.css">

    <title> Lobby </title>

    <style>
        body {
            background-color: #F7F7F3;
        }

    </style>
</head>
<body>



    <header class="fixed_header">
        <div class="nav-wrapper buyer buyer-shop-header">
            <div class="nav-wrapper--left buyer">
                <a href="/add_cart/products"><span class="material-icons nav-icon">arrow_back</span></a>
            </div>
            <div class="nav-wrapper--middle buyer">
                Messages
            </div>
        </div>

        <div class="nav-wrapper--right buyer">
                hi?
                <!--            <a href="/shopping_cart/shopping_cart">-->
                <!--                <span class="material-icons nav-icon seller-shop"> shopping_cart </span>-->
                <!--            </a>-->

        </div>
</header>
    <main>

        <div class="top_space"></div>

        <!----------Groups--------->
        <div class="lobby-container">
            <div class="lobby-users ">

                <% buyerChatList.forEach(chat=>{ %>
                <div class="user">
                    <div class="img-container"> <img src=<%=chat.image_file_paths[0]%>>   </div>
                    <div class="messageInfo_container">
                        <div>
                        <p><a href="/chat/room/<%=chat.chat_id%>"><%=chat.store_name%></a></p>
<!--                        <p>This will be the message </p>-->
<!--                            PLACEHOLDER-->
                        </div>
                    </div>
                    <!--                            PLACEHOLDER-->
                    <div class="date_container"><p>Today</p></div>
                </div>

                <%  }); %>

            </div>
        </div>

    </main>
</div>

<%- include('../elements/buyer_footer', {page:"blah"}) %>

</body>
</html>
