<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
            integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
            crossorigin="anonymous"
    />

    <style>

        @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

        :root {
            --dark-color-a: #667aff;
            --dark-color-b: #7386ff;
            --light-color: #e6e9ff;
            --success-color: #5cb85c;
            --error-color: #d9534f;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            background: antiquewhite;
            margin: 20px;
        }

        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        .btn {
            cursor: pointer;
            padding: 5px 15px;
            background: antiquewhite;
            color: cadetblue;
            border: 0;
            font-size: 17px;
        }


        /* Join Page */
        .join-container {
            max-width: 500px;
            margin: 80px auto;
            color: #fff;
        }

        .join-header {
            text-align: center;
            padding: 20px;
            background: cadetblue;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .join-main {
            padding: 30px 40px;
            background: cadetblue;
        }

        .join-main p {
            margin-bottom: 20px;
        }

        .join-main .form-control {
            margin-bottom: 20px;
        }

        .join-main label {
            display: block;
            margin-bottom: 5px;
        }

        .join-main input[type='text'] {
            font-size: 16px;
            padding: 5px;
            height: 40px;
            width: 100%;
        }

        .join-main select {
            font-size: 16px;
            padding: 5px;
            height: 40px;
            width: 100%;
        }

        .join-main .btn {
            margin-top: 20px;
            width: 100%;
        }

        @media (max-width: 700px) {
            .chat-main {
                display: block;
            }

            .chat-sidebar {
                display: none;
            }
        }


    </style>
    <title>ChatCord App</title>
</head>
<body>
<div class="join-container">
    <header class="join-header">
        <h1><i class="fas fa-smile"></i> ChatCord</h1>
    </header>
    <main class="join-main">
        <form action="chat/room">
            <div class="form-control">
                <label for="username">Username</label>
                <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter username..."
                        required
                />
            </div>
            <div class="form-control">
                <label for="room">Room</label>
                <select name="room" id="room">
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="PHP">PHP</option>
                    <option value="C#">C#</option>
                    <option value="Ruby">Ruby</option>
                    <option value="Java">Java</option>
                </select>
            </div>
            <button type="submit" class="btn">Join Chat</button>
        </form>
    </main>
</div>
</body>
</html>
