
<nav class="nav">
    <a href="/follow_business/follow_business_1" class="nav-link  <%= page === "follow_business" ? "link-active" : "" %>  ">
        <i class=" material-icons nav-icon">home</i>
        <span class="nav-text"> Home</span>
    </a>
    <a href="/add_cart/products" class="nav-link <%= page === "shop" ? "link-active" : "" %>">
        <i class=" material-icons nav-icon">shopping_bag</i>
        <span class="nav-text">shop</span>
    </a>

    <a href="/map" class="nav-link">

        <i class=" material-icons nav-icon">place</i>
        <span class="nav-text"> explore</span>
    </a>
    <a href="/wishlist/wishlist_1" class="nav-link <%= page === "wishlist" ? "link-active" : "" %>" >

        <i class=" material-icons nav-icon">star_outline</i>
        <span class="nav-text"> wishlist</span>
    </a>
    <a href="/buyer_profile/profile_setup" class="nav-link  <%= page === "profile" ? "link-active" : "" %>">
        <i class=" material-icons nav-icon">manage_accounts</i>
        <span class="nav-text"> profile </span>
    </a>
</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
    let footerBtnList= document.querySelector(".nav").children
    for (let navBtn of footerBtnList) {
        navBtn.addEventListener("click", () => {
            for (let navBtn of footerBtnList) navBtn.classList.remove("link-active")
            // navBtn.classList.add("link-active")
        })
    }
</script>