<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <!-- Latest compiled and minified CSS Bootstrap -->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->

    <!-- Material.io/ FontAwesome -->
    <link rel="stylesheet" href="../../fontawesome/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS-->
    <link rel="stylesheet" href="../../public/styles.css">


</head>
<body>


<nav class="nav">
    <a href="#" class="nav-link link-active ">
        <i class=" material-icons nav-icon">home</i>
        <span class="nav-text"> Home</span>
    </a>
    <a href="#" class="nav-link">
        <i class=" material-icons nav-icon">shopping_bag</i>
        <span class="nav-text"> orders</span>
    </a>
    <a href="#" class="nav-link">
        <i class=" material-icons nav-icon">add_circle</i>
        <span class="nav-text"> post</span>
    </a>
    <a href="#" class="nav-link">
        <i class=" material-icons nav-icon">leaderboard</i>
        <span class="nav-text"> analytics</span>
    </a>
    <a href="#" class="nav-link">
        <i class=" material-icons nav-icon">manage_accounts</i>
        <span class="nav-text"> shop</span>
    </a>



</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>

    let footerBtnList= document.querySelector(".nav").children
    for (let navBtn of footerBtnList) {
        navBtn.addEventListener("click", () => {

            for (let navBtn of footerBtnList) navBtn.classList.remove("link-active")
            navBtn.classList.add("link-active")

        })
    }


</script>
</body>
</html>