
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500;1,600&family=Fraunces:ital,wght@1,200&family=Playfair+Display:ital,wght@1,500&family=Poppins&display=swap');



body{
    background-color: #F7F5F3;
    font-family: 'Poppins', sans-serif;
    /* align-content: center; */
    text-align: center;
}

.shopReady{
    font-size: 21pt;
 
}

.shopReadyMessage{
    font-size: 18pt;
    line-height:20pt;
}

.headToDashboard{
    border:solid 2px;
    border-radius: 20px;
    background-color: #E3974F;
    color:white ;
    font-size: 18px;
    width: 80%;
    height:50px ;
    
}