<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <script>
        function initMap(){
            let options = {
                zoom: 8,
                center: {lat: 42.3601, lng: -123.1207}
            }
            
            let map = new google.maps.Map(document.getElementById('map'), options)
        
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly" defer> </script>
    <h1>Google Map</h1>
    <div id="map">
    </div>

</body>
</html>