<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>add to card</title>
<!-- Material.io/ CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../../styles.css">


</head>
<body>

<%

    //Here this woud be disapear since we get the numberOfProducts from router based on DB
let fakeListFromDb = ["product1", "product2", "product3"]
 let numberOfProducts = fakeListFromDb.length
%>


<header class="fixed_header">

<nav class="nav-wrapper buyer buyer-shop-header">
    <div class="nav-wrapper--left buyer">
        <a onclick="history.back()"><span class="material-icons nav-icon">arrow_back</span></a>
    </div>

    <div class="nav-wrapper--middle buyer">
         <p>jabadaaa</p>
    </div>

    <div class="nav-wrapper--right buyer">
            <div class="bag">
                <div class="dot"> <%=numberOfProducts%></div>
                <span class="material-icons nav-icon seller-shop"> shopping_cart </span>
            </div>
    </div>


</nav>
</header>







<%- include('../elements/buyer_footer.ejs', {page:""}) %>

</body>

<script>

    document.querySelector(".addToCartBtn").addEventListener("click", () => {

        //HERE send product to the back end to , cart DB

    })

</script>
</html>