<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>shopping cart</title>
<!-- Material.io/ CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../../styles.css">
<style>
 


    /* @media only screen and (min-width:400px){
        .shopping_cart_i{
       max-width: 20%;
       max-height: 20%;
    } */

    section{
        border-bottom: 1px solid #B4B4B4;
        box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.20);
        padding: 2%;
        /* display: flex;
        justify-content: space-around; */
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 20px;
    }

    .shopping_cart_i{
        max-width: auto;
        height: 120px;
        border: 1px solid gray;
        border-radius: 50%;
        place-self: center;
    }

    .productName{
        font-size: 20px;
        font-weight: 600;
    }

    .remove{
        text-decoration: underline;
    }

    .saveForLater{
        font-weight: 500;
        color: #E3974F;
    }


    button {
  display:block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #E3974F;
  background-color: #E3974F;
  color: white;
  font-size: 20px;
  margin: 5px;
}




button:hover {
  background: #3F69A0 ;
  cursor: pointer;
  border: #3F69A0;
}
.quantityBtn {
    display: flex;
    margin: 5px;
}
.quantityBtn span {
    margin: 5px;
}

.price{
    display: block;
    margin-left: 5px;

}


</style>

</head>
<body>

<%

//Here this woud be disapear since we get the numberOfProducts from router based on DB
let fakeListFromDb = ["product1", "product2", "product3"]
let numberOfProducts = fakeListFromDb.length
%>


<header class="fixed_header">

    <div class="nav-wrapper buyer buyer-shop-header">
        <div class="nav-wrapper--left buyer">
            <a onclick="history.back()"><span class="material-icons nav-icon">arrow_back</span></a>
        </div>

        <div class="nav-wrapper--middle buyer">
            Cart
        </div>

        <div class="nav-wrapper--right buyer">
            <div class="bag">
                <div class="dot"> <%=numberOfProducts%></div>
                <span class="material-icons nav-icon seller-shop"> shopping_cart </span>
            </div>
        </div>

    </div>
</header>

    <div class="top_space"></div>



<section >
<img src="https://cdn.shopify.com/s/files/1/0107/9820/2938/products/CLOVECORE4954copy_4d257312-9baf-40f1-aad2-b10d8af11227.jpg?v=1646350921" alt="Avatar" class="shopping_cart_i">

<div>
    <p class="productName">Shoes</p>
    <p class="remove">Remove</p>
    <p class="saveForLater">Save for later</p>
</div>
<div class="priceAndQuantity">
   <p class="price center">$100</p> 
   <div  class="quantityBtn">
   <button>&#43;</button>
   <span>2</span>
   <button>&#8211;</button>
</div>

<!-- <button class="cssCircle minusSign">
    &#8211;
</button>
number
  <button class="cssCircle plusSign">
    &#43;
  </button> -->

</section> 




<footer>
    <%- include('../elements/buyer_footer',{page:"product_post"}) %>
</footer>
</body>

<script>
    document.querySelector(".addToCartBtn").addEventListener("click", () => {
        //HERE send product to the back end to , cart DB
    })
</script>
</html>