<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/38b862182c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../../styles.css"> -->
</head>
<style>
    .navagationBar >svg span{
    display: block;
    flex-direction: column;
    align-items: center;

   background-color: blanchedalmond;
}
</style>
<body>
    
    <!-- <i class="fas fa-light fa-house fa-2x"><br>Home</i> -->
    <div class="navagationBar">
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M4.51807 12.8452L16.8721 3.22388L29.2261 12.8452V27.9645C29.2261 28.6936 28.9368 29.3928 28.422 29.9083C27.9071 30.4238 27.2088 30.7135 26.4807 30.7135H7.2634C6.53529 30.7135 5.83701 30.4238 5.32216 29.9083C4.80731 29.3928 4.51807 28.6936 4.51807 27.9645V12.8452Z"
                stroke="#252525" stroke-opacity="0.75" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M12.754 30.7135V16.9688H20.99V30.7135" stroke="#252525" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
        <span>home</span>
    </div>
</body>

</html>