<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->

  <link rel="icon" type="image/x-icon" href="/logo/localscooplogo2.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/styles.css">
  <style>
    img {
      width: 250px;
      height: 250px;
      object-fit: contain;
    }
  </style>
  <title>shop set up - upload image</title>
</head>

<body>
  <!-- for image upload -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <!-- back button -->
  <div class="shop-setup-header">
    <a onclick="history.back()"><span class="material-icons back-icon">arrow_back</span></a>
  </div>

  <!-- <img src="https://idsp2-localscoop-frontend.s3.us-west-2.amazonaws.com/ba20731620062f0cfb877735f199bdbb" alt=""> -->
  

  <div class="centerBox m-font imgUpload">
    <P class="description">
      Add pictures of your store!<br>
      This gives customers an idea of what your store has to offer.
    </P> 
    <div class="insertImgHere"></div>
    <div class="container centerBox m-font">
      <!-- <form action="/shop_setup/uploadS3" method="POST" enctype="multipart/form-data" id="imageForm"> -->
      <form id="imageForm">
        <div class="file-field input-field">
          <input id="imageInput" class="greenBtn" type="file" accept="image/*" name="myImage" />
          <button type="submit" class="greenBtn">Upload</button>
        </div>
      </form>
    </div>

    <a href="/shop_setup/shop_setup_7">
      <button type="submit" class="yellow-bn s-bn">Finish Up</button>
    </a>

  </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
  const imageForm = document.querySelector("#imageForm")
  const imageInput = document.querySelector("#imageInput")

  imageForm.addEventListener("submit", async event => {
    event.preventDefault()

   
    const file = imageInput.files[0]

    /**
     * make 2 requests, 
     * 	1st to get the s3 url. 
     * 	2nd to send it to the backend
     */
    let imageUrl;
    
    try {
      // get secure url from our server
      const { url } = await fetch("/s3Url").then(res => res.json())
      
      // post the image direclty to the s3 bucket
      await fetch(url, {
        method: "PUT",
        headers: {
          "Content-Type": "multipart/form-data"
        },
        body: file
      })

      imageUrl = url.split('?')[0]
      console.log(imageUrl)

      // post requst to my server to store any extra data
      const postParam = {
        imageUrl
      }


      // if there is already a photo on the page, remove it
      if( document.querySelector("#shopImage") !== null){
        document.querySelector("#shopImage").remove()
      }

      // append image on document
      const img = document.createElement("img")
      let imageInsertionPoint = document.querySelector(".insertImgHere")
      img.src = imageUrl;
      img.id = "shopImage";
     
      imageInsertionPoint.appendChild(img)

      // ajax request to routes
      await fetch("/shop_setup/uploadS3", {
        method: "POST",
        body: JSON.stringify(postParam),
        headers: {
          "Content-Type": "application/json"
        },
      })

    } catch (error) {
      console.log("ERROR", error)
    }


  })
</script>
</html>



<!-- <script>
  function uploadphoto() {
    let fileUpload = document.getElementById("file-upload").value
    if (fileUpload) {
      document.getElementById("photoForm").submit();
    }
  }
</script> -->