<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../../styles.css">
  <title>shop set up - upload image</title>
</head>

<body>
  <!-- for image upload -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <!-- back button -->
  <div class="shop-setup-header">
    <a onclick="history.back()"><span class="material-icons back-icon">arrow_back</span></a>
  </div>

  <div class="centerBox m-font imgUpload">
    <P>
      Add pictures of your store!<br>
      This gives customers an idea of what your store has to offer.
    </P>



    <div class="container centerBox m-font">
      <!-- <form action="/shop_setup/uploadS3" method="POST" enctype="multipart/form-data" id="imageForm"> -->
      <form id="imageForm">
        <div class="file-field input-field">
          <input id="imageInput" class="greenBtn" type="file" accept="image/*" name="myImage" />
          <button type="submit">leUpload</button>
        </div>
      </form>
    </div>

    <a href="/shop_setup/shop_setup_7">
      <button class="yellow-bn s-bn">Finish Up</button>
    </a>

  </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="/s3_photo_upload/s3_frontend.js"></script>

<!-- <script>
  function uploadphoto() {
    let fileUpload = document.getElementById("file-upload").value
    if (fileUpload) {
      document.getElementById("photoForm").submit();
    }
  }
</script> -->

</html>