<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../../styles.css">
  <title>shop set up - upload image</title>
</head>

<body>
  <!-- for image upload -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <!-- back button -->
  <div class="shop-setup-header">
    <a onclick="history.back()"><span class="material-icons back-icon">arrow_back</span></a>
  </div>

  <div class="centerBox m-font">
    <P>
      Add pictures of your store!<br>
      This gives customers an idea of <br>
      what your store has to offer.
    </P>



    <div class="container centerBox m-font">
      <img
        src="<%= typeof file != 'undefined' ? file : 'https://majobacooks.com/wp-content/uploads/2021/03/pngkey.com-ega-png-2332677.png' %>"
        class="responsive-img" style="max-width: 70%; margin-top: 10px; border-radius: 10%;">

      <form action="/shop_setup/upload" method="POST" enctype="multipart/form-data" id="photoForm">
        <div class="file-field input-field">
          <label for="file-upload" class="greenBtn">
            Upload Image
          </label>
          <input id="file-upload" type="file" accept="image/*" name="myImage" onchange="uploadphoto()" />
        </div>

        <!-- <button type="submit" class="btn">Upload</button> -->
      </form>

    </div>

    <a href="/shop_setup/shop_setup_7">
      <button class="yellow-bn s-bn">Finish Up</button>
    </a>

  </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>

  function uploadphoto() {
    let fileUpload = document.getElementById("file-upload").value
    if (fileUpload) {
      document.getElementById("photoForm").submit();
    }
  }
</script>

</html>