<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>le sitemap</title>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500;1,600&family=Fraunces:ital,wght@1,200&family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@100;200;300;400;500;600&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
        }

        .contents {
            padding-top: 30px;
            display: flex;
            flex-wrap: wrap;
            background-color: #e3964f7d;
     
        }
        
        .card {
            padding: 15px;
            margin: 15px;
            border-radius: 25px;
            background-color: #F7F7F3;
        }

        ul {
            padding-left: 5px;
            padding-bottom: 10px;
        }
        img {
            max-width: 50px;
            max-height: 50px;
            padding-right: 30px;
            padding-left: 5px;
            padding-top: 5px;
        }
        header {
            display: flex;
            flex-direction: row;
            background-color: #F7F5F3;
        }

    </style>
</head>
<header>
    <img src="logo/localscooplogo2.png">
    <h4>Site Map for LocalScoop</h4>
</header>
<body>
    <div class="contents">
        <div class="card">
            <b>https://idsp-localscoop.herokuapp.com/ + anyOfThePathsBelow</b>
            <p>ex. https://idsp-localscoop.herokuapp.com/orders/orders_1</p>
        </div>
        <div class="card">
            <ul>
                /add_cart/add_cart
            </ul>
        </div>
        <div class="card">
            <ul>/orders/orders_1</ul>
            <ul>/orders/orders_2</ul>
        </div>
        <div class="card">
            <ul>/product_post/product_post_1</ul>
            <ul>/product_post/product_post_2</ul>
        </div>
        <div class="card">
            <ul>/seller_landing/seller_landing/:id</ul>
        </div>
        <div class="card">
            <ul>/seller_shop/seller_shop/:id</ul>
        </div>
        <div class="card">
            <ul>/shop_setUp/login_signup</ul>
            <ul>/shop_setUp/shop_setUp_1</ul>
            <ul>/shop_setUp/shop_setUp_2</ul>
            <ul>/shop_setUp/shop_setUp_3</ul>
            <ul>/shop_setUp/shop_setUp_4</ul>
            <ul>/shop_setUp/shop_setUp_5</ul>
            <ul>/shop_setUp/shop_setUp_6</ul>
            <ul>/shop_setUp/shop_setUp_7</ul>
        </div>
    </div>
</body>
</html>