<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Shop Orders</title>
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <style>
    * {
      /* margin: 0; */
      padding: 1%;
      box-sizing: border-box;
    }

    .slider {
      margin:5%
      /* position: relative;
      left: 10%;
      top: 30%; */
      /* margin-left: 10px;
      margin-right: 10px; */
    
      /* overflow: hidden; */
    }

    .slider-inner {
      /* position: relative; */
      /* top: 0;
      left: 0; */
      /* height: 100%;
      width: 200%; */
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px; 
      pointer-events: none; 
    }

    /* the card */
    .slider-img {
      background-color: white;
      text-align: center;

      border-radius: 20px;
      width: 250px;
      height: 300px;
      box-shadow: 2px 10px 10px 4px rgba(0, 0, 0, 0.30);
    }

    .slideImg {
      border-radius: 10px;
      width: 200px;
      height: 200px;
    }

    .draft{
      display: flex;
      justify-content: space-between;
      margin: 5%;
     
    }

    .grid{
      display: flex;
    }

    .draftImg{
      border-radius: 10px;
      width: 150px;
      height: 150px;
    }
  </style>
</head>
<body>
    <!--  HEADER -->
    <header class="seller-shop-header">
      <div class="page-header l-font">
        Product Posts
      </div>
    </header>

    <!-- the carousel slider of cards -->
    <div class="slider">
      <div class="slider-inner">

        <div class="slider-img">
          updatetime
          <img src="https://picsum.photos/100/100" alt="" class="slideImg">
          Product name <br>
          Product Price
        </div>

        <div class="slider-img">
          updatetime
          <img src="https://picsum.photos/100/100" alt="" class="slideImg">
          Product name <br>
          Product Price
        </div>

        <div class="slider-img">
          <img src="https://picsum.photos/100/100" alt="" class="slideImg">
        </div>

        <div class="slider-img">
          <img src="https://picsum.photos/100/100" alt="" class="slideImg">
        </div>

        <div class="slider-img">
          <img src="https://picsum.photos/100/100" alt="" class="slideImg">
        </div>

        <div class="slider-img">
          <img src="https://picsum.photos/100/100" alt="" class="slideImg">
        </div>

        <div class="slider-img">
          <img src="https://picsum.photos/100/100" alt="" class="slideImg">
        </div>
      </div>
    </div>


    <!--  DESCRIPTION-->
    <div class="store_info">
      <a href="/">
        <button type="submit" class="yellow-bn m-3">Sold Products</button>
      </a>
    </div>
    
    <div class="draft">
    <div>Drafts</div> 
    <div>&Rang;</div>
  
  </div>
    <!--THE GRID PART -->
    <!--https://stackoverflow.com/questions/65649642/square-css-grid-with-square-images-->
    <div class="grid">
      
        <img src="https://picsum.photos/400/300" class="draftImg">
     
        <img src="https://picsum.photos/300/300" class="draftImg">
  
        <img src="https://picsum.photos/500/250" class="draftImg">
   
        <img src="https://picsum.photos/400/300" class="draftImg">
    
        <img src="https://picsum.photos/600/300" class="draftImg">
    
        <img src="https://picsum.photos/600/300" class="draftImg">
   
        <img src="https://picsum.photos/600/300" class="draftImg">
   
      
    </div>
    

    

    <footer>
      <%- include('../elements/footer.ejs') %>
    </footer>

</body>
  <script>
    // from https://www.youtube.com/watch?v=KHGc7eZyxKY

    let slider = document.querySelector(".slider");
    let innerSlider = document.querySelector(".slider-inner");

    let pressed = false;
    let startx;
    let x;


    slider.addEventListener('mousedown', (e) => {
      pressed = true;
      startx = e.offsetX - innerSlider.offsetLeft; // how many pixels to the left or right of the parent element 
      slider.style.cursor = 'grabbing'
    });

    slider.addEventListener("mouseenter", () => {
      slider.style.cursor = 'grab'
    });

    slider.addEventListener('mouseup', () => {
      slider.style.cursor = 'grab'
    });

    window.addEventListener('mouseup', () => {
      pressed = false;
    });

    slider.addEventListener('mousemove', (e) => {
      if (!pressed) return;

      e.preventDefault();
      x = e.offsetX;
      innerSlider.style.left = `${x - startx}px`;
      checkBoundary()

    })


    function checkBoundary() {
      let outer = slider.getBoundingClientRect();
      let inner = innerSlider.getBoundingClientRect();

      if (parseInt(innerSlider.style.left) > 0) {
        innerSlider.style.left = '0px';
      } else if (inner.right < outer.right) {
        innerSlider.style.left = `-${inner.width - outer.width}px`
      }

    }
    checkBoundary();
  </script>
</html>