<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>product posting 1</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->

</head>

<body>
    <!-- for image upload -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <div class="container centerBox m-font">

        <img src="<%= typeof file != 'undefined' ? file : 'https://majobacooks.com/wp-content/uploads/2021/03/pngkey.com-ega-png-2332677.png' %>"
            class="responsive-img" style="max-width: 60%; margin-top: 10px; border-radius: 10%;">

        <form action="/product_post/upload" method="POST" enctype="multipart/form-data" id="imgForm">
            <div class="file-field input-field">
                <label for="file-upload" class="greenBtn">
                    Upload Image
                </label>
                <input id="file-upload" type="file" accept="image/*" name="myImage" onchange="uploadImg()" />
            </div>
            <!-- <button type="submit" class="btn">UPLOAD</button> -->
        </form>

    </div>
    <hr>
    <form action="/product_post/product_post_2" method="POST">
        <input name="imgUrl" class="displayNone" value="<%= typeof file != 'undefined' ? file : "" %>">
        <div class="productPost">
            <label for="productName">Item Name :</label>
            <input type="text" name="itemName" id="productName" placeholder="Nike Sage Lows" class="inputborder" required>

        </div>
        <hr>
        <div class="productPost">
            <label for="description">Description :</label>
            <textarea name="description" id="description" placeholder="Size 8 Womens US shoes"
                class="inputborder"></textarea>
        </div>
        <hr>
        <div class="productPost">
            <label for="category">Category :</label>
            <select name="category" id="category" class="inputborder" required>
                <option value="shoes">Shoes</option>
                <option value="top">Top</option>
                <option value="pants">Pants</option>
                <option value="accessories">Accessories</option>
            </select>
        </div>
        <hr>
        <div class="productPost">
            <label for="deliveryFee">Delivery Fee :</label>
            <select name="deliveryFee" id="deliveryFee" class="inputborder">
                <option value="10">$10.00</option>
                <option value="20">$15.00</option>
                <option value="30">$20.00</option>
            </select>
        </div>

        <hr>
        <div class="productPost">
            <label for="productPrice">Item Price : </label>
            <input type="number" name="productPrice" id="productPrice" placeholder="$125" class="inputborder" required>
        </div>
        <hr>
        <div class="center">
            <button class="yellow-bn m-bn ">Post Product</button>
        </div>
    </form>
    <footer>
        <%- include('../elements/seller_footer') %>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>

    function uploadImg() {
        let fileUpload = document.getElementById("file-upload").value
        if (fileUpload) {
            document.getElementById("imgForm").submit();
        }
    }
</script>

</html>