<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>shopping cart</title>
<!-- Material.io/ CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../../styles.css">

<style>
    body {
        background-color: rgba(227, 151, 79, 75%);
    }

    .afterOrder {
        color: white;
        font-size: 35px;

    }

    .confirmationImg {
        clip-path: circle();
        /* border-radius: 50%; */
        max-width: 80%;
        margin: 5%;
    }

    .confirmatiomText {
        background-color: white;
        border-radius: 15px;
        display: grid;
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
        height: 180px;
        text-align: left;

    }

    .continueShopBtn {
        color: white;
        background-color: black;
        border-radius: 20px;
        width: 170px;
        height: 35px;
        margin-left: 40%;
        /* margin-right: 20%; */
        font-size: 16px;
    }

    .boxtext {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;

    }
</style>

</head>

<body>
    <header class="fixed_header">

        <div class="nav-wrapper buyer buyer-shop-header">
            <div class="nav-wrapper--left buyer">
                <a onclick="history.back()"><span class="material-icons nav-icon">arrow_back</span></a>
            </div>

            <div class="nav-wrapper--middle buyer">
                Confirmation
            </div>

            <div class="nav-wrapper--right buyer">
                <div class="bag">
                    <div class="dot">
<%= cartQuantity %>
                    </div>
                    <span class="material-icons nav-icon seller-shop"> shopping_cart </span>
                </div>
            </div>

        </div>
    </header>

    <div class="top_space"></div>

    <section class="confirmation displayBlock">

        <h1 class="afterOrder">
            Thank you for Supporting Our Business!
        </h1>

        <img src="https://brokeandchic.com/wp-content/uploads/2020/12/10-Discount-Clothing-Sites-Youll-Love.jpg" alt=""
            class="confirmationImg">

        <div class="confirmatiomText displayBlock">
            <div class="boxtext">An order confirmation will be sent to your email address that you provided!</div>
            <button type="button" class="continueShopBtn">Continue shopping</button>
        </div>



    </section>
    <div class="extraspace"></div>
    <footer>
        <%- include('../elements/buyer_footer',{page:"product_post"}) -%>
    </footer>
</body>
<!-- <script src="../../help.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>




</html>