<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            max-height: 20%;
            max-width: 40%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 5%;
        }

        div{
            width: 100%;
            padding: 2px 2px;
            margin: 2px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid red;
        }

    </style>
</head>

<body>
    <img src="https://www.converse.com/on/demandware.static/-/Library-Sites-SharedLibrary/default/dw6b3d7071/firstspirit/media/09_global_elements/2022_spring_6/nav_3/03_30/03.03.22_Refresh_RSH_Core_NAV.jpg"
        alt="">

    <div>
        Product Photos
    </div>

    <div>
        <label for="itemName">Item Name</label>
        <input type="text" name="itemName" id="itemName">

    </div>
    <hr>
    <div>
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
    </div>

    <div>
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="shoes">Shoes</option>
            <option value="top">Top</option>
            <option value="pants">Pants</option>
            <option value="accessories">Accessories</option>
        </select>
    </div>
    <div>
        <label for="deliveryFee">Delivery Fee</label>
        <select name="deliveryFee" id="deliveryFee">
            <option value="10">$10.00</option>
            <option value="20">$15.00</option>
            <option value="30">$20.00</option>
        </select>
    </div>


    <div>
        <label for="itemPrice">Item Price : $</label>
        <input type="number" name="itemPrice" id="itemPrice">
    </div>

    <button>Post Product</button>

</body>

</html>